# Fake News Classifier

This notebook will classify a news article as an unverified or untrue news source or a verified news source.

In [8]:
from IPython.display import clear_output

In [12]:
%%time
%pip install kagglehub
%pip install ipywidgets
%pip install pandas
clear_output()

CPU times: total: 312 ms
Wall time: 1min 19s

## Data

The Fake News Classification Dataset is an English-language dataset containing just over 45,000 unique news articles. These articles are classified as true (1) or false (0). The dataset contains the title of the article and the text both in English.

There are three files for training, validation, and testing. The test dataset has 24,353 rows of data, the evaluation dataset has 8,117 rows of data, and the test dataset has 8,117 rows of data.

The cell below downloads the files from Kaggle.

In [11]:
import kagglehub
import shutil
import os

# Download latest version
path = kagglehub.dataset_download("aadyasingh55/fake-news-classification")
destination = r"data"
for item in os.listdir(path):
    src = os.path.join(path, item)
    dest = os.path.join(destination, item)
    if os.path.isdir(src):
        shutil.copytree(src, dest, dirs_exist_ok=True)
    else:
        shutil.copy2(src, dest)

In [13]:
import pandas as pd

In [19]:
train_df = pd.read_csv(r"data\train (2).csv", header=0, delimiter=";").iloc[:,1:]
train_df

,title,text,label
0,Palestinians switch off Christmas lights in Be...,"RAMALLAH, West Bank (Reuters) - Palestinians s...",1
1,China says Trump call with Taiwan president wo...,BEIJING (Reuters) - U.S. President-elect Donal...,1
2,FAIL! The Trump Organization’s Credit Score W...,While the controversy over Trump s personal ta...,0
3,Zimbabwe military chief's China trip was norma...,BEIJING (Reuters) - A trip to Beijing last wee...,1
4,THE MOST UNCOURAGEOUS PRESIDENT EVER Receives ...,There has never been a more UNCOURAGEOUS perso...,0
...,...,...,...
24348,Mexico Senate committee OK's air transport dea...,MEXICO CITY (Reuters) - A key committee in Mex...,1
24349,BREAKING: HILLARY CLINTON’S STATE DEPARTMENT G...,IF SHE S NOT TOAST NOW THEN WE RE IN BIGGER TR...,0
24350,trump breaks from stump speech to admire beaut...,kremlin nato was created for agression \nruss...,0
24351,NFL PLAYER Delivers Courageous Message: Stop B...,Dallas Cowboys star wide receiver Dez Bryant t...,0
24352,NORDSTROM STOCK TAKES NOSEDIVE After Trump Twe...,UPDATE: Nordstrom stock closed up slightly tod...,0

In [22]:
eval_df = pd.read_csv(r"data\evaluation.csv", header=0, delimiter=";").iloc[:, 1:]
eval_df

,title,text,label
0,"Sanders back in U.S. Senate, blasts 'coloniali...",WASHINGTON (Reuters) - Democratic U.S. preside...,1
1,Kremlin: Syria peoples' congress being 'active...,MOSCOW (Reuters) - A proposal to convene a con...,1
2,Oregon Cop Convicted Of Shattering Biker’s Co...,"In a baffling fit of rage, an Oregon State Pol...",0
3,Twitter Erupts With Glee Over #CruzSexScandal...,The last thing any politician running for the ...,0
4,MUST WATCH VIDEO: Obama Tries To Trash Trump B...,This is too good to miss! Mr. Teleprompter did...,0
...,...,...,...
8112,Sean Hannity Throws Hissy Fit After Real Repo...,"Just like Donald Trump, Sean Hannity has a thi...",0
8113,FORMER ASST FBI DIRECTOR WARNS ANTI-TRUMP KABA...,Former Asst. FBI Director James Kallstrom spok...,0
8114,John McCain: Trump’s Attacks On The Press Are...,Donald Trump has declared the media to be the...,0
8115,Syria's Deir al-Zor air base working again: st...,BEIRUT (Reuters) - The Deir al-Zor military ai...,1
8116,"U.S. military releases, withdraws old Islamist...","WASHINGTON (Reuters) - In an awkward reversal,...",1

In [23]:
test_df = pd.read_csv(r"data\test (1).csv", header=0, delimiter=";").iloc[:, 1:]
test_df

,title,text,label
0,"Live from New York, it's a Trump-Clinton remat...",NEW YORK (Reuters) - Veteran actor and frequen...,1
1,Catalan separatists to lose majority in tight ...,BARCELONA (Reuters) - Catalonia s independence...,1
2,North Carolina governor concedes election to D...,"WINSTON-SALEM, N.C. (Reuters) - North Carolina...",1
3,Draft Senate Iran legislation sets tough new U...,WASHINGTON (Reuters) - Draft legislation respo...,1
4,California governor taps U.S. Representative B...,"SACRAMENTO, Calif. (Reuters) - California Gove...",1
...,...,...,...
8112,Sanders at Vatican says rich-poor gap worse th...,VATICAN CITY (Reuters) - U.S. presidential can...,1
8113,how trump happened,force and fanaticism wahhabism in saudi arabi...,1
8114,Turkey will take two steps if Germany takes on...,"ISTANBUL (Reuters) - Turkey, whose relations w...",1
8115,BREAKING: DEVICE THAT BUSTED HILLARY CLINTON D...,Here s why Clinton and Abedin should be flippi...,0
8116,occupier david fry released from jail im reall...,one twitter user once asked me is it too much ...,0